{% load i18n %}
{% load staticfiles %}
{% load compress %}


<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="utf-8">
    {# Pour les moteurs de recherches #}
    {# ---------------------------------------------- #}
    <meta name="description" content="{% block description %}{% endblock %}" />

    {# Interdiction de l’indexation des moteurs de recherches #}
    <meta name="robots" content="NONE,NOARCHIVE" />

    {# Ajout/modification des meta notamment name="robots" NONE, pour le dashboard #}
    {% block extrahead %}{% endblock %}

    {# Balise pour affichage optimise sur mobile et tablette #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {# Onglet #}
    {# ---------------------------------------------- #}
    {% comment %} <title>{% block head_title %}{% endblock %} | {{ site_name }}</title> {% endcomment %}
    <title>{% block head_title %}{% endblock %} · Techni BE</title>

    {# Icone Onglet #}
    {% block favicon %}
        {% comment %}
        <!-- <link rel="shortcut icon" href="{% static "core/favicon.ico" %}" /> --> {% endcomment %}
    {% endblock %}


    {# CSS et SCSS #}
    {# ---------------------------------------------- #}
    {# Bootstrap en CDN #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {# Fontawesome en CDN #}
    <script src="https://kit.fontawesome.com/e920ace4be.js" crossorigin="anonymous"></script>

    {# Block des SCSS des Applications #}
    {% block app_styles %}{% endblock %}
</head>


<body class="d-flex flex-column h-100">
    {# Block de la page #}
    {# ---------------------------------------------- #}
    {% block app_layout %}{% endblock %}

    {# JS #}
    {# ---------------------------------------------- #}
    {# Block des scripts JS en CDN. #}
    {% block cdn_scripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    {% endblock cdn_scripts %}


    {# Block des scripts JS application. #}
    {% block app_scripts %}{% endblock %}
</body>
</html>