{% extends "app/layout.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% url 'account_email' as account_email %}
{% url 'account_confirm_email' as account_confirm_email %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "E-mails" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du Froid et du Conditionnement d'air" %}{% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  <h3 class="font-weight-normal">{% trans "E-mails" %}</h3>
  <hr class="divider bg-light">
  {# Formulaire ou contenu msg #}
  <div class="col-xl-6 col-lg-9 col-md-10 col-sm-10 pl-0">
    <fieldset class="fieldset border rounded">
      {# E-mail list #}
      <div class="card m-3">
        <div class="card-header font-weight-bolder">
          {% trans "E-mail associées à votre compte :" %}
        </div>
        <ul class="list-group list-group-flush">
          {% for emailaddress in user.emailaddress_set.all %}
          <li class="list-group-item d-flex justify-content-between font-weight-normal">
            <div class="d-flex align-items-center">
              <div>{{ emailaddress.email }}</div>
              {% if emailaddress.primary %}
              <span class="mx-2"> - </span>
              <span class="font-weight-bolder text-success">{% trans "Principale" %}</span>
            </div> <!-- items -->
            {% else %}
            {% if not emailaddress.verified %}
            <span class="mx-2"> - </span>
            <span class="font-weight-bolder text-danger">{% trans "Non vérifiée" %} &nbsp </span>
            <span class="font-weight-light">
              <form method="post" action="{% url 'account_email' %}" novalidate>
                {% csrf_token %}
                <input type="hidden" name="email" value="{{emailaddress.email}}" />
                <button type="submit" name="action_send" class="btn btn-link font-weight-light p-0">
                  {% trans "Vérifier l'e-mail" %}
                </button>
              </form>
            </span>
            {% endif %}
      </div> <!-- items -->
      <div class="text-right">
        <form method="post" action="{% url 'account_email' %}" novalidate>
          {% csrf_token %}
          <input type="hidden" name="email" value="{{emailaddress.email}}" />
          <button type="submit" name="action_remove" class="btn p-0">
            <i class="fas fa-trash-alt m-0 text-danger"></i>
          </button>
        </form>
      </div> <!-- text-right -->
      {% endif %}
      </li> <!-- list-group -->
      {% endfor %}
      </ul>
  </div>

  {# Ajout E-mail #}
  {% csrf_token %}
  {# Crispy-forms #}
  {% comment %} {{ form|crispy }} {% endcomment %}
  {% crispy form %}
  <hr class="divider mx-3 bg-light">
  {# E-mail primaire #}
  <form class="px-3" method="post" action="{% url 'account_email' %}" novalidate>
    <div class="form-row">
      <div class="form-group col-xl-8 col-lg-8 col-md-7 col-sm-7">
        {% csrf_token %}
        <label>{% trans "Adresse e-mail principale" %}</label>
        <select class="form-control" name="email">
          {% for emailaddress in user.emailaddress_set.all %}
          {% if emailaddress.verified %}
          <option>{{ emailaddress.email }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div> <!-- form-group -->
      <div class="form-group col-xl-4 col-lg-4 col-md-5 col-sm-5 mt-auto">
        <button type="submit" name="action_primary" class="btn btn-primary">
          {% trans "Rendre principale" %}</button>
      </div>
      <div><!-- form-row -->
  </form>
  </fieldset>
  </div> <!-- col -->
{% endblock content %}