{% load i18n %}

{% url 'customer:account_profile' as account_profile %}

{% url 'account_change_password' as account_change_password %}
{% url 'account_email' as account_email %}


{# sidebar #}
{# ---------------------------------------------- #}
<div class="sidebar-sticky">
  <ul class="sidebar-nav flex-column">
    <li class="{% if 'accounts/profile' in request.path %}nav-item active {% else %}nav-item {% endif %}">
      <a class="nav-link"
        href="{{ account_profile }}">
        <i class="fas fa-pencil-alt"></i>
        {% trans "Profil" %}
      </a>
    </li>
    <li class="{% if 'accounts/password/change' in request.path %}nav-item active {% else %}nav-item {% endif %}">
      <a class="nav-link"
        href="{{ account_change_password }}">
        <i class="fas fa-key"></i>
        {% trans "Sécurité" %}
      </a>
    </li>
    <li class="{% if 'accounts/email/' in request.path %}nav-item active {% else %}nav-item {% endif %}">
      <a class="nav-link"
        href="{{ account_email }}">
        <i class="fas fa-envelope"></i>
        {% trans "E-mails" %}
      </a>
    </li>
  </ul>
</div>