{% extends "becenter/layout.html" %}

{% load i18n %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "BE Center" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du Froid et du Conditionnement d'air" %}{% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
<main class="container pt-5">
      <h5 class="font-weight-bolder">{% trans "Achats" %}</h5>
      <hr class="divider bg-light my-1">
</main>
{% endblock content %}