{% extends "core/layout.html" %}

{% load account %}
{% load i18n %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Accueil" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du Froid et du Conditionnement d'air" %}{% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}

{% url 'core:becenter' as core_becenter %}
<main class="container my-auto">
  <div class="row justify-content-sm-center text-center">
    <div class="col-lg-10 align-self-end">
      <h1 class="text-uppercase font-weight-bolder">{% trans "Bienvenue" %}</h1>
      <hr class="divider bg-light my-4">
    </div>
    <div class="col-lg-8 align-self-baseline">
      <p class="text-white-75 font-weight-light mb-5">
        {% blocktrans %}
        Portail pour les Responsables d'Affaires et Responsables Projets
        sous pression, du monde du froid et du conditionnement d'air.
        {% endblocktrans %}
      </p>
      <a class="btn btn-primary btn-xl" href="{{core_becenter}}" role="button">{% trans "Commencer" %}</a>
    </div>
  </div>
</main>

{% endblock content %}