// myHVACRguide ======================================================================
/* Color system
-------------------------------------------------- */
$white:                                 #fff !default;
$black:                                 #000 !default;
$navbar-dark-color:                     rgba($white, 1) !default;
$navbar-light-color:                    rgba($black, .5) !default;

$dark:                                  #001529 !default;