// Navbar ======================================================================

/* Account
-------------------------------------------------- */
.navbar-account {
  min-height: $navbar-account-height-y;

  .navbar-brand {
    font-weight: 500;
    @include font-size($font-size-lg);
  }

  .sidebar-toggler-icon {
    background-image: escape-svg($sidebar-dark-toggler-icon-bg);
  }

  .navbar-nav {
    .dropdown-menu {
      position: absolute;
    }

    .dropdown-toggle {
      font-weight: 400;

      .dropdown-menu {
        @include font-size($font-size-sm);
      }
    }
  }
}

/* Responsive
-------------------------------------------------- */
// sm: 576px, md: 768px, lg: 992px, xl: 1200px
// > sm
@media (max-width: 576px) {
  .navbar-account {
    .navbar-brand {
      .site-name {
        display: none;
      }
    }
  }
}

@media (min-width: 576px) {
}
