// Core : Variables ==============================================================

/* Navbar
-------------------------------------------------- */
$navbar-primary-height-y:                   4rem;


/* Main techni BE
-------------------------------------------------- */
$main-margin-top:                   $navbar-primary-height-y;


/* Footer
-------------------------------------------------- */
$footer-primary-height-y:                   3.5rem;
