// myHVACRguide ======================================================================

/* Navbar
-------------------------------------------------- */
$navbar-account-height-y:                   3.5rem;


/* Main
-------------------------------------------------- */
$main-margin-top:                           $navbar-account-height-y;


/* Footer
-------------------------------------------------- */
$footer-primary-height-y:                   3.5rem;
