{% load account %}
{% load i18n %}


{% url 'core:index' as core_index %}
{% url 'account_login' as account_login %}


{# navbar-primary #}
{# ---------------------------------------------- #}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary navbar-primary">
  <div class="container">
    <a class="navbar-brand" href="{{ core_index }}">
      <span class="brand-techni text-uppercase">Techni</span>
      &nbsp <span class="brand-BE text-uppercase">BE</span>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <ul class="navbar-nav mr-auto">
        <li class="{% if 'index' in request.path %}nav-item active {% else %}nav-item {% endif %}"> <a
            class="nav-link" href="{{ core_index }}">{% trans "Acceuil" %}</a></li>
      </ul>
    </div>
    <form class="form-inline ml-auto mx-2">
      <a class="btn btn-outline-success my-2 my-sm-0" href="{{ account_login }}">{% trans "Se connecter" %}</a>
    </form>
    <button type="button" class="navbar-toggler" aria-controls="navbarSupportedContent1" aria-expanded="false"
      aria-label="Toggle navigation" data-toggle="collapse" data-target="#navbarSupportedContent1"> <span
        class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>