{% extends "account/base_account.html" %}

{% load crispy_forms_tags %}
{% load i18n %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Inscription" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du Froid et du Conditionnement d'air" %}{% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{# Header #}
{% block account_header %}
  {% include "core/snippets/navbar_primary.html" %}
  {% include 'core/snippets/messages.html' %}
{% endblock %}

{# Footer #}
{% block account_footer %}
  {% include "core/snippets/footer_primary.html" %}
{% endblock %}

{# Legende #}
{% block fieldset_legend %}{% trans "Inscrivez-vous" %}{% endblock %}

{# Formulaire ou contenu msg #}
{% block form_account %}
<form class="form-registration border rounded p-3" method="post" action="{% url 'account_signup' %}"
  novalidate>
  {% csrf_token %}
  {# Crispy-forms #}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" id="recaptcha-submit" disabled="disabled" class="btn btn-primary mb-3">
    {% trans "Créer un compte" %}</button>
  <p class="form-text text-center mb-0">{% blocktrans %}En créant un compte,<br />
    vous acceptez les <a href="terms-of-services.html">
      conditions d'utilisation</a>.{% endblocktrans %}</p>
</form>
{% endblock form_account %}
